# exclude everything else except config files

!containerization/

containerization/*

!containerization/influxdb-volume/

containerization/influxdb-volume/*
!containerization/influxdb-volume/config/

!containerization/chronograf-volume/

containerization/chronograf-volume/*
!containerization/chronograf-volume/config/

!containerization/kapacitor-volume/

containerization/kapacitor-volume/*
!containerization/kapacitor-volume/config/

!containerization/telegraf-volume/

containerization/telegraf-volume/*
!containerization/telegraf-volume/config/

!containerization/mosquitto-volume/

containerization/mosquitto-volume/*
!containerization/mosquitto-volume/config/

!containerization/grafana-volume/

containerization/grafana-volume/*
!containerization/grafana-volume/config/

# exclude src codes

src/